<% layout('layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">
        New Campground
    </h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">
                    Title   :
                </label><input class="form-control" type="text" id="title" name="Campground[title]">
            </div>
            <div class="mb-3">
                <label for="Location" class="form-label">
                    Location    :
                </label><input class="form-control" type="text" id="Location" name="Campground[location]">
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">
                    Image URL   :
                </label><input class="form-control" type="text" id="img" name="Campground[image]">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">
                    Description   :
                </label><textarea class="form-control" type="text" id="desc" name="Campground[description]"></textarea>
            </div>
            <div class="mb-3">
                <label for="price">Price :</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input id="price" type="text" class="form-control" placeholder="0.00" name="Campground[price]">
                </div>
              </div>
            <div class="mb-3">
                <button class="btn btn-success">
                    Add Campground
                </button>
            </div>
        </form>
    </div>
</div>